.scroll-container {
    /*overflow: overlay;*/
    white-space: nowrap;
    text-align: center;
    margin: 0 auto;
    width: 675px;
    height: 520px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    box-shadow: 5px 2px 35px -7px #8fd19e;
}

/* 滚动条整体 */
.scroll-container::-webkit-scrollbar {
    height: 20px;
    width: 10px;
    box-shadow: 5px 2px 35px -7px #8fd19e;
}
/* 两个滚动条交接处 -- x轴和y轴 */
.scroll-container::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* 滚动条滑块 */
.scroll-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: 5px 2px 35px -7px #8fd19e;
    background: black;
}

/* 滚动条轨道 */
.scroll-container::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 2px 35px -7px #8fd19e;
    border-radius: 5px;
    background: transparent;
}

/* 滚动条两端按钮 */
.scroll-container::-webkit-scrollbar-button {
}
.scroll-bread {
    /*overflow: overlay;*/
    white-space: nowrap;
    text-align: center;
    margin: 0 auto;
    width: 600px;
    height: 520px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    box-shadow: 5px 2px 35px -7px #8fd19e;
}

/* 滚动条整体 */
.scroll-bread::-webkit-scrollbar {
    height: 20px;
    width: 10px;
    box-shadow: 5px 2px 35px -7px #8fd19e;
}
/* 两个滚动条交接处 -- x轴和y轴 */
.scroll-bread::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* 滚动条滑块 */
.scroll-bread::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: 5px 2px 35px -7px #8fd19e;
    background: black;
}

/* 滚动条轨道 */
.scroll-bread::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 2px 35px -7px #8fd19e;
    border-radius: 5px;
    background: transparent;
}

/* 滚动条两端按钮 */
.scroll-bread::-webkit-scrollbar-button {
}

/*Scroll bar for type*/
.scroll-container_t {

        text-align: center;
        margin: 0 auto;
        width: 600px;
        height: 520px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 25px;
        box-shadow: 5px 2px 35px -7px #8fd19e;
}

/* 滚动条整体 */
.scroll-container_t::-webkit-scrollbar {
    height: 20px;
    width: 10px;
    box-shadow: 5px 2px 35px -7px #8fd19e;
}
/* 两个滚动条交接处 -- x轴和y轴 */
.scroll-container_t::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* 滚动条滑块 */
.scroll-container_t::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: 5px 2px 35px -7px #8fd19e;
    background: black;
}

/* 滚动条轨道 */
.scroll-container_t::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 2px 35px -7px #8fd19e;
    border-radius: 5px;
    background: transparent;
}

/* 滚动条两端按钮 */
.scroll-container_t::-webkit-scrollbar-button {
}