{% extends "base.html" %}
{##Inheriting the base template.#}

{% block title %}

{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="login scroll-bread" style="left: -40px;position: relative; top: 80px; overflow-x: hidden;">
        <div class="character text-light" style="position: relative; top: 20px;">Bread</div>
        <div class="text-light number" style="position: relative; top: -18px; left: 60px;">({{ n }})</div>
        <div class="banner1" style="top:35px;position: relative; z-index:999; ">
            <a class="bg-danger" href="{{url_for('order.bread_display')}}">↓</a>
            <span>Sort by add event order</span>
        </div>
        <div class="banner2" style="top:35px;position: relative; z-index:1; ">
            <a class="bg-warning"  href="{{url_for('order.bread_display_reverse')}}">↑</a>
            <span>Sort by added event in reverse order</span>
        </div>
        <div class="login_form" style="left:10px;top:5px;position:relative; z-index:999; ">
        <ul style="position:relative; z-index:999; top:-10px; left: -31px;">
            <ul class="list-group list-group-horizontal">
              <li class="list-group text-light list_btn" style="width: 140px; position: relative; top: -180px;">Bread</li>
              <li class="list-group text-light list_btn" style="width: 140px; position: relative; top: -180px;">M-date</li>
              <li class="list-group text-light list_btn" style="width: 140px; position: relative; top: -180px;">E-date</li>
              <li class="list-group text-light list_btn" style="width: 140px; position: relative; top: -180px;">
                  <a href="{{url_for('order.type_display')}}" class="text-light">Type</a>
              </li>
            </ul>
             {% for i in bread %}
                <ul class="list-group list-group-horizontal" style="color: #171a1d; position: relative;top: -180px;">
                  <li class="list-group text-light list_btn" style="width: 140px;">{{ i.bread_name }}</li>
                  <li class="list-group text-light list_btn" style="width: 140px;">{{ i.m_date }}</li>
                  <li class="list-group text-light list_btn" style="width: 140px;">{{ i.e_date }}</li>
                  <li class="list-group text-light list_btn" style="width: 140px;">{{ i.type_name }}</li>
                </ul>
            {% endfor %}
        </ul>
        </div>
    </div>
{% endblock %}

